.button {
  position: relative;
  padding: var(--control-padding) calc(var(--control-padding) * 2);
}

.input {
  appearance: none;
  position: absolute;
}

.icon {
  display: flex;
  font-size: 1.2rem;
}
