.header {
  display: flex;
  z-index: 0;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  overflow: hidden;
  gap: 10px;
  background: var(--white);
  box-shadow: var(--box-shadow);
  color: var(--black);
}

@media print {
  .header {
    display: none;
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: min(20px, 5vw);
  color: unset;
  font-size: clamp(1rem, 1.8rem, 7vw);
  font-family: var(--serif);
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  transition: color var(--transition);
}

.logo {
  flex-shrink: 0;
  height: 60px;
  max-height: 15vw;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  font-size: 1.2rem;
}

.nav a {
  padding: 5px 10px;
  color: currentColor;
  text-decoration: none;
  transition: color var(--transition);
}

.nav a:hover {
  color: var(--theme);
}

@media (max-width: 1100px) {
  .header {
    justify-content: center;
  }

  .title {
    order: -1;
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  .header {
    flex-direction: column;
  }

  .nav {
    display: contents;
  }
}

/** for making share thumbnail */

/* .header {
  justify-content: center;
  aspect-ratio: 2 / 1;
  width: 400px;
}

.title {
  margin: 0 !important;
}

.nav {
  display: none !important;
} */
