.background {
  display: flex;
  z-index: -1;
  position: absolute;
  align-items: center;
  inset: 0;
  overflow: hidden;
}

.svg {
  aspect-ratio: 1 / 1;
  width: 100%;
  animation: rotate 120s linear infinite;
  opacity: 0.25;
}

.line {
  stroke-dasharray: 1 1;
  animation: stroke 15s ease-in-out both infinite;
}

@keyframes rotate {
  0% {
    transform: perspective(1000px) rotateX(65deg) rotateZ(0deg);
  }
  100% {
    transform: perspective(1000px) rotateX(65deg) rotateZ(360deg);
  }
}

@keyframes stroke {
  0% {
    stroke-dashoffset: 3;
  }
  30% {
    stroke-dashoffset: 2;
  }
  70% {
    stroke-dashoffset: 2;
  }
  100% {
    stroke-dashoffset: 1;
  }
}

/** for making share thumbnail */

/* .svg {
  transform: perspective(1000px) rotateX(65deg) rotateZ(45deg);
  animation: none !important;
  opacity: 0.35 !important;
}

.line {
  animation: none !important;
} */
